body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #141313;
}
h1 {
  font-family: "IBM Plex Mono", monospace;
  font-style: regular;
  font-weight: 400;
  color: #f8f8f2;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

u {
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-weight: 400;
  color: #f8f8f2;
  text-decoration-style: solid;
  text-decoration-color: #f77652;
}
